<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Zivilschutz App - {{title}} </title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="/sidenav.css">
</head>
<body>

	<div id="tiles">
		{{{navigationHtml}}}
	</div>

	<div id="list">
		{{{contentHtml}}}
	</div>

    <div class="menu">
        <div class="back"><a href="#">< Back</a></div>
    </div>
	
	<!-- Service worker registration -->
    <script type="text/javascript">

var headers = new Headers();
headers.append('Service-Worker-Allowed', '/');


		if (navigator.serviceWorker.controller) {
		  console.log('[PWA Builder] active service worker found, no need to register')
		} else {
		//Register the ServiceWorker
		  navigator.serviceWorker.register('pwabuilder-sw.js', {
			scope: './'
		  });

		}
    </script>

</body>
</html>
